<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.bravenite.ketchupsoon</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.558448152377-448mdad95e743dnankqcrevjs1oruf8g</string>
			</array>
		</dict>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Ketchup Soon needs full calendar access to create and manage hangout events in your calendar.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Cabin-Bold.ttf</string>
		<string>Cabin-Regular.ttf</string>
		<string>Cabin-Medium.ttf</string>
		<string>Cabin-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Ketchup Soon</string>
	<key>GIDClientID</key>
	<string>558448152377-448mdad95e743dnankqcrevjs1oruf8g.apps.googleusercontent.com</string>
	<key>NSContactsUsageDescription</key>
	<string>Ketchup Soon needs access to your contacts to help you add friends to the app.</string>
	<key>NSUserNotificationsUsageDescription</key>
	<string>Ketchup Soon sends you notifications about upcoming hangouts with friends.</string>
</dict>
</plist>
