<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.144315286048-7jasampp9nttpd09rd3d31iui3j9stif</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Cabin-Bold.ttf</string>
		<string>Cabin-Regular.ttf</string>
		<string>Cabin-Medium.ttf</string>
		<string>Cabin-SemiBold.ttf</string>
	</array>
	<key>NSContactsUsageDescription</key>
	<string>FriendTracker needs access to your contacts to help you manage and stay in touch with your friends.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>FriendTracker needs access to your calendar to sync your hangouts and help you stay connected with friends.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>FriendTracker needs full calendar access to create and manage hangout events in your calendar.</string>
</dict>
</plist>
