<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.144315286048-7jasampp9nttpd09rd3d31iui3j9stif</string>
			</array>
		</dict>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>FriendTracker needs full calendar access to create and manage hangout events in your calendar.</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRpc2F1b2Fham5mdm50dnhueHBoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzkyMzM3MDEsImV4cCI6MjA1NDgwOTcwMX0.jnQwDhUjL5ix_S3-EojbDaUeHEHUAYfVKEyWBAqDSzM</string>
	<key>SUPABASE_URL</key>
	<string>https://disauoaajnfvntvxnxph.supabase.co</string>
	<key>UIAppFonts</key>
	<array>
		<string>Cabin-Bold.ttf</string>
		<string>Cabin-Regular.ttf</string>
		<string>Cabin-Medium.ttf</string>
		<string>Cabin-SemiBold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
